{% extends '@' ~ tpl_namespace ~ '/layout/base.html.twig' %}

{% block body %}
  <body class="hold-transition center-box-page">
    {{ block('main') }}
    {{ block('foot_js') }}
  </body>
{% endblock %}

{% block main %}
  <div class="center-box">
    <div class="center-box-logo">
      <a href="{{ app_home_url|default('/') }}">{{ app_name }}</a>
    </div>

    <div class="center-box-body">
      {% block content %}
      {% endblock %}
    </div>
    <!-- /.form-box -->
  </div>
  <!-- /.center-box -->
{% endblock %}
